<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxwq.mapper.WxHandleMapper">

    <select id="getAccessToken" resultType="Map">
        SELECT value, expire_timestamp
        FROM sys_config
        where `id` = 1
    </select>

    <update id="setAccessToken" parameterType="Map">
        UPDATE sys_config
        SET value           = #{accessToken},
            expire_timestamp= #{expireTimestamp}
        where id = 1
    </update>
</mapper>