@font-face {
  font-family: 'PingFangSC';
  src: url('https://cdn.stackdesign.cn/dzcms_cms/PingFangSC-Light_1755745188118.ttf') format('opentype');
  font-weight: 300;
  /* Light */
}

@font-face {
  font-family: 'PingFangSC';
  src: url('https://cdn.stackdesign.cn/dzcms_cms/PingFangSC-Medium_1755682751490.ttf') format('opentype');
  font-weight: 500;
  /* Medium */
}

@font-face {
  font-family: 'PingFangSC';
  src: url('https://cdn.stackdesign.cn/dzcms_cms/PingFangSC-Regular_1755745226573.ttf') format('opentype');
  font-weight: 400;
  /* Regular */
}

@font-face {
  font-family: 'PingFangSC';
  src: url('https://cdn.stackdesign.cn/dzcms_cms/PingFangSC-Semibold_1755745242653.ttf') format('opentype');
  font-weight: 600;
  /* Semibold */
}

@font-face {
  font-family: 'PingFangSC';
  src: url('https://cdn.stackdesign.cn/dzcms_cms/PingFangSC-Thin_1755745257324.ttf') format('opentype');
  font-weight: 100;
  /* Thin */
}

@font-face {
  font-family: 'PingFangSC';
  src: url('https://cdn.stackdesign.cn/dzcms_cms/PingFangSC-Ultralight_1755745268673.ttf') format('opentype');
  font-weight: 200;
  /* Ultralight */
}