// @font-face {
//   font-family: 'SourceHanSansSC';
//   src: url('/static/fonts/SourceHanSansSC-Bold.otf') format('opentype');
//   font-weight: 700;
//   /* Bold */
// }

// @font-face {
//   font-family: 'SourceHanSansSC';
//   src: url('/static/fonts/SourceHanSansSC-ExtraLight.otf') format('opentype');
//   font-weight: 200;
//   /* Extra Light */
// }

// @font-face {
//   font-family: 'SourceHanSansSC';
//   src: url('/static/fonts/SourceHanSansSC-Heavy.otf') format('opentype');
//   font-weight: 900;
//   /* Heavy */
// }

// @font-face {
//   font-family: 'SourceHanSansSC';
//   src: url('/static/fonts/SourceHanSansSC-Light.otf') format('opentype');
//   font-weight: 300;
//   /* Light */
// }

// @font-face {
//   font-family: 'SourceHanSansSC';
//   src: url('/static/fonts/SourceHanSansSC-Medium.otf') format('opentype');
//   font-weight: 500;
//   /* Medium */
// }

// @font-face {
//   font-family: 'SourceHanSansSC';
//   src: url('/static/fonts/SourceHanSansSC-Normal.otf') format('opentype');
//   font-weight: 400;
//   /* Normal */
// }

// @font-face {
//   font-family: 'SourceHanSansSC';
//   src: url('/static/fonts/SourceHanSansSC-Regular.otf') format('opentype');
//   font-weight: 400;
//   /* Regular */
// }